.LogTable {
  height: 100%;
  width: 100%;
  overflow: auto;
  will-change:transform;
  display: table;
  background-color: #2D2D30;
  position: absolute;
  display: flex;
}

.LineNumber 
{
  float: left;
  width: 68px;
  color: #d4d4d4;
}

.LineNumberRow
{
  text-align: right;
  height: 19px;
  user-select: none;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  margin-right: 8px;
}

.LogContent{
  float: left;
}

.LogContentRow {
  text-align: left;
  height: 19px;
}

.LogContentRow > pre{
  margin: 0px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
}

.WindowScrollerWrapper {
  flex: 1 1 auto;
}

.List {
  border: 1px solid #e0e0e0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.rowScrolling::after {
  content: ': scrolling';
  font-size: 0.65rem;
  color: #aaa;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-right: 5px;
}