.ControlPanelShow
{
  z-index: 99;
  right: 25px;
  width: 550px;
  position: fixed;
  transition-timing-function: ease-out;
  transition: right 0.5s;
}

.ControlPanelHide{
  z-index: 99;
  right: -550px;
  width: 550px;
  position: fixed;
  transition-timing-function: ease-in;
  transition: right 0.5s;
}

.ControlPanelContent
{
  opacity: 0.5;
  transition-timing-function: ease-out;
  background: gainsboro;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.ControlPanelContent:hover{
  opacity: 1;
}

.MenuButton{
  position: absolute;
  left: -50px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.GogogoBtn{
  color: #f1f1f1;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ConfigDialog
{
  background-color: lightgray;
}

.ConfigDialogButton{
  background-color: gray;
  margin: 5px;
}

.finalRow > span{
  margin: 2px;
}

.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion {
  border: px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
  position: relative;
}

.accordion__title {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
}

.accordion__title:hover {
  background-color: #ddd;
}

.accordion__title > h3 {
  margin: 2px;
  padding: .5em .5em .5em .7em;
  font-size: 14px;
  font-weight: normal;
}

[aria-selected='true'] .accordion__title {
  background-color: #007fff;
}

.accordion__body {
  padding: 20px;
  display: block;
  animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
  animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes move-down {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}
