.ControlPanel[aria-expanded='true']
{
  z-index: 99;
  right: 25px;
  width: 550px;
  position: fixed;
  transition-timing-function: ease-out;
  transition: right 0.5s;
}

.ControlPanel{
  z-index: 99;
  right: -550px;
  width: 550px;
  position: fixed;
  transition-timing-function: ease-in;
  transition: right 0.5s;
  user-select:none
}

.ControlPanel  * {
  user-select: none;
}

.ControlPanelContent
{
  opacity: 0.5;
  transition-timing-function: ease-out;
  background: gainsboro;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.ControlPanelContent:hover{
  opacity: 1;
}

.MenuButton{
  position: absolute;
  left: -50px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.GogogoBtn{
  color: #f1f1f1;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ConfigDialog
{
  background-color: lightgray;
}

.ConfigDialogButton{
  background-color: gray;
  margin: 5px;
}

.finalRow > span{
  margin: 2px;
}

.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion {
  border: px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
  position: relative;
}

.accordion__title {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
}

.accordion__title:hover {
  background-color: #ddd;
}

.accordion__title > h3 {
  margin: 2px;
  padding: .5em .5em .5em .7em;
  font-size: 14px;
  font-weight: normal;
}

.accordion__title[aria-selected='true']  {
  background-color: #007fff;
  color: #ffffff;
}

.accordion__body {
  padding: 20px;
  display: block;
  animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
  animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

.accordion__title[aria-expanded='true'] accordion__arrow::before,  .accordion__title[aria-selected='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

.accordion__title[aria-expanded='true'] .accordion__arrow::after, .accordion__title[aria-selected='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes move-down {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}

.ui-dialog-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.ui-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  outline: 0 none;
  padding: 0 !important;;
  z-index: 101;
  background-color: white;
  border: 1px solid #f6f6f6;
}

.ui-dialog.maximized{
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.ui-dialog.minimized{
  position: fixed;
  bottom: 0;
  right: 0;
}

.ui-dialog .ui-dialog-titlebar {
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  padding: 0.5em;
  height: 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid #f6f6f6;
}

.ui-dialog.react-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-dialog .ui-dialog-titlebar .action-items {
  float: right;
  position: relative;
}

.ui-dialog .ui-dialog-titlebar .title {
  float: left;
  margin-right: .5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.em;
  
}

.icon {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin: 2px;
  cursor: pointer;
  background-size: cover;
}

.icon.icon-close {
  width: 15px;
  height: 15px;
  background-image: url("./img/close.png");
}

.icon.icon-minimize {
  background-image: url("./img/minimize.png");
}

.icon.icon-maximize {
  background-image: url("./img/maximize.png");
}

.icon.icon-restore {
  background-image: url("./img/restore.png");
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0.5em;
}

.ui-dialog .ui-dialog-buttonpane {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: right;
  border-width: 1px 0 0 0;
  border-top: 1px solid #f6f6f6;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
  padding: 0.5em;
}

.ui-dialog .ui-dialog-buttonpane button {
margin: 0 .5em 0 .5em;
  cursor: pointer;
  background-color: #f6f6f6;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
  background-color: #CCCCCC;
  border: 1px solid #BBBBBB;
}

.ui-dialog .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}