
:local(.SaveLoadSettingPanelContent){
  display: 'table';
  width: '100%';
  border: '0';
  text-align: 'left';
}

:local(.row){
  display: table-row;
}

:local(.column){
  display: table-cell;
}

:local(.columnHeader){
  width: 100px;
  display: table-cell;
}

:local(.button){
  margin: 2px;
  width: 100px;
}
