.LogTable {
  height: 100%;
  width: 100%;
  overflow: auto;
  will-change:transform;
  display: table;
  background-color: #2D2D30;
  position: absolute;

}

.LogTableInner > .row{
  display: table-row;
}

.LogTableInner > .row > .column{
  display: table-cell;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

.LogTableInner > .row > .column:first-child{
  display: table-cell;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  float: left;
  color: gray;
}

.LogTableInner > .row > .column > pre{
  display: block;
  margin: 0px;
}

.LineNumber 
{
  float: left;
  width: 68px;
  color: #d4d4d4;
}

.LogContent{
  float: left;
}